<form action="/animals/<%= @animal.id %>" method="POST">
  <div>
    <label>Scientific Animal Name</label>
    <input type="text" name="title" placeholder="Enter a Scientific Name" value="<%= @animal.scientific_animal_name %>">
  </div>

  <div>
    <label>Common Animal Name</label>
    <input type="text" name="title" placeholder="Enter a Common Name" value="<%= @animal.common_animal_name %>">
  </div>

  <div>
    <input type="submit" value="Save Post">
  </div>
  <% if(@animal.id) %>
    <input type="hidden" name="_method" value="PUT">
  <% end %>
</form>
