<h1>Welcome to the Animals Page</h1>

<% @animals.each do |animal| %>
<div>
  <h3><a href="/animals/<%= animal.id %>"><%= animal.scientific_animal_name %></a></h3>
  <p><%= animal.common_animal_name %></p>
</div>
<% end %>
