<h1>Welcome to the Plants Page</h1>

<% @plants.each do |plant| %>
<div>
  <h3><a href="/<%= plant.id %>"><%= plant.Scientific_Plant_Name %></a></h3>
  <p><%= plant.Common_Plant_Name %></p>
</div>
<% end %>
