<h2><%= @plant.scientific_plant_name %></h2>
<h2><%= @plant.common_plant_name %></h2>
<a href="/plants/<%= @plant.id %>/edit">edit</a>

<form action="/plants/<%= @plant.id %>" method="post">
  <input type="submit" value="Delete">
  <input type="hidden" name="_method" value="DELETE">
</form>
